<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.springboot.mapper.FlowNodeMapper">


    <select id="" resultType="com.atguigu.springboot.bean.FlowNode">
        SELECT * FROM  table_name WHERE id=#{id}
    </select>

    <insert id="">

    </insert>
</mapper>